@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w FitnessApp!</h1>
    <p>Twoje centrum zarządzania dietą i treningiem.</p>
</div>

