@page
@model IndexModel
@{
    ViewData["Title"] = "Sekcja treningowa";
}
<<<<<<< HEAD
=======

<div class="text-center">
    <h1 class="display-4">Witaj w FitnessApp!</h1>
</div>
>>>>>>> origin/master
