@page
@model WebApplication1.Pages.ClassSchedulePages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WebApplication1.Models.ClassSchedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Class event ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassSchedule.ClassEventId)
        </dd>
        <dt class="col-sm-2">
            Day
        </dt>
        <dd class="col-sm-10">
            @(Model.ClassSchedule.ClassEvent?.Day.ToString() ?? "-")
        </dd>
        <dt class="col-sm-2">
            Class
        </dt>
        <dd class="col-sm-10">
            @(Model.ClassSchedule.ClassEvent?.Name ?? "-")
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="ClassSchedule.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
