@page
@model WebApplication1.Pages.DietPlanDayPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DietPlanDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DietPlanDay.Id" />
            <div class="form-group">
                <label asp-for="DietPlanDay.DietId" class="control-label"></label>
                <input asp-for="DietPlanDay.DietId" class="form-control" />
                <span asp-validation-for="DietPlanDay.DietId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DietPlanDay.Diet" class="control-label"></label>
                <input asp-for="DietPlanDay.Diet" class="form-control" />
                <span asp-validation-for="DietPlanDay.Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DietPlanDay.MealId" class="control-label"></label>
                <input asp-for="DietPlanDay.MealId" class="form-control" />
                <span asp-validation-for="DietPlanDay.MealId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DietPlanDay.Meal" class="control-label"></label>
                <input asp-for="DietPlanDay.Meal" class="form-control" />
                <span asp-validation-for="DietPlanDay.Meal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="DietPlanDay.Day" class="control-label"></label>
                <input asp-for="DietPlanDay.Day" class="form-control" aria-required="true"/>
                <span asp-validation-for="DietPlanDay.Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="DietPlanDay.MealType" class="control-label"></label>
                <input asp-for="DietPlanDay.MealType" class="form-control" aria-required="true"/>
                <span asp-validation-for="DietPlanDay.MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
